<a href="https://colab.research.google.com/github/TOKTAK007/Alexnet-with-TOKTAK/blob/main/Lotteryrev12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import torch

In [15]:
import numpy as np

data = np.array([
    812519, 157196, 845093, 375805, 121789, 913106,
    613106, 484669, 943703, 929332, 331583, 436594,
    620405, 981417, 361807, 319196, 155012, 658642,
    395919, 970618, 737867, 61905, 98597, 944308,
    880159, 819068, 639235, 77258, 32761, 45037,
    386372, 578171, 70935, 114475, 46750, 910261,
    556725, 713517, 691861, 292972, 684579, 501272,
    100787, 472270, 890422, 835538, 424603, 912307,
    38495, 803628, 201303, 100994, 972661, 506404,
    286051, 837893, 244083, 999997, 945811, 569391,
    873286, 347258, 516967, 831567, 51095, 503446,
    875938, 781403, 589227, 491774, 510541, 529924,
    453522, 17223, 967375, 812564, 691197, 340388,
    798787, 775476, 387006, 369765, 943647, 174055,
    516461, 962526, 61324, 570331, 109767, 724628,
    345650, 74824, 967134, 197079, 735867, 356564
])

seq_len = 6
num_sequences = len(data)-seq_len

#set data at 90 sets and 11 columns ---- (90,17) or 2 dimensions
data_set = np.zeros((num_sequences, seq_len + 11))

for i in range(num_sequences):
  seq = data[i:i+seq_len]
  data_set[i, :seq_len] = seq
  data_set[i, seq_len] = np.mean(seq[:6])
  data_set[i, seq_len + 1] = np.min(seq[:6])
  data_set[i, seq_len + 2] = np.max(seq[:6])
  data_set[i, seq_len + 3] = np.std(seq[:6])
  data_set[i, seq_len + 4] = np.median(seq[:6])
  data_set[i, seq_len + 5] = np.var(seq[:6])
  data_set[i, seq_len + 6] = np.percentile(seq, 25)
  data_set[i, seq_len + 7] = np.percentile(seq, 75)
  data_set[i, seq_len + 8] = np.sum(seq[:6])
  data_set[i, seq_len + 9] = np.prod(seq[:6])
  data_set[i, seq_len + 10] = len(np.where(seq > np.mean(seq))[0])

  # print(data_set)

# Create headers for the CSV file
headers = "col1, col2, col3, col4, col5, col6, mean, min, max, std, median, var, Q1, Q3, sum, product, count_greater_than_mean"

# Save the data_set as a CSV file with headers
np.savetxt("data_set.csv", data_set, delimiter=",", header=headers, comments="", fmt="%g")

In [16]:
import pandas as pd

# Read the CSV file
data_frame = pd.read_csv("data_set.csv")

# Print the contents of the CSV file
print(data_frame)

      col1    col2    col3    col4    col5    col6    mean     min     max  \
0   812519  157196  845093  375805  121789  913106  537585  121789  913106
1   157196  845093  375805  121789  913106  613106  504349  121789  913106
2   845093  375805  121789  913106  613106  484669  558928  121789  913106
3   375805  121789  913106  613106  484669  943703  575363  121789  943703
4   121789  913106  613106  484669  943703  929332  667618  121789  943703
..     ...     ...     ...     ...     ...     ...     ...     ...     ...
85  962526   61324  570331  109767  724628  345650  462371   61324  962526
86   61324  570331  109767  724628  345650   74824  314421   61324  724628
87  570331  109767  724628  345650   74824  967134  465389   74824  967134
88  109767  724628  345650   74824  967134  197079  403180   74824  967134
89  724628  345650   74824  967134  197079  735867  507530   74824  967134

       std    median           var        Q1      Q3        sum       product  \
0   330384  594162.0  1.091530e+11  211848.0  836950  3225510.0  4.767970e+18
1   310486  494456.0  9.640130e+10  211848.0  787096  3026100.0  7.986630e+18
2   270926  548888.0  7.340110e+10  403021.0  787096  3353570.0 -4.638520e+18
3   290100  548888.0  8.415790e+10  403021.0  838106  3452180.0  1.592720e+18
4   299820  763106.0  8.989210e+10  516778.0  925276  4005700.0 -6.056240e+18
..     ...       ...           ...       ...     ...        ...           ...
85  323878  457990.0  1.048970e+11  168738.0  686054  2774230.0  3.038940e+18
86  257579  227708.0  6.634720e+10   83559.8  514161  1886520.0 -2.545970e+18
87  322312  457990.0  1.038850e+11  168738.0  686054  2792330.0 -7.375020e+18
88  331931  271364.0  1.101780e+11  131595.0  629884  2419080.0  1.418980e+18
89  321539  535139.0  1.033870e+11  234222.0  733057  3045180.0 -8.305840e+18

     count_greater_than_mean
0                          3
1                          3
2                          3
3                          3
4                          3
..                       ...
85                         3
86                         3
87                         3
88                         2
89                         3

[90 rows x 17 columns]



---
prod = บรรทัดนี้เป็นการคำนวณผลคูณของทุกๆ ตัวเลขในตัวแปร seq


---



---


np.len(np.where(seq > np.mean(seq))[0])
บรรทัดนี้เป็นการคำนวณจำนวนของตัวเลขในตัวแปร seq ที่มีค่ามากกว่าค่าเฉลี่ยของตัวเลขใน seq และนำจำนวนที่คำนวณได้ไปเก็บไว้ในตัวแปร data_set ณ ตำแหน่งที่ต้องการ


---



---
ในภาษา Python, วงเล็บ () และสแควร์บรากเก็ต [] มีความแตกต่างกันในการใช้งาน ดังนี้:

วงเล็บ ():

ใช้สำหรับสร้าง tuple: Tuple เป็นข้อมูลชนิดหนึ่งใน Python ที่เป็น immutable หรือไม่สามารถเปลี่ยนแปลงค่าได้หลังจากที่ถูกสร้างขึ้น ตัวอย่างการสร้าง tuple คือ my_tuple = (1, 2, 3)
ใช้ในการระบุค่าพารามิเตอร์ของฟังก์ชัน เช่น def my_function(x, y):
ใช้ในการเรียกฟังก์ชัน โดยส่งค่าอาร์กิวเมนต์ให้กับฟังก์ชัน เช่น result = my_function(a, b)


---


สแควร์บรากเก็ต []:

ใช้สำหรับสร้าง list: List เป็นข้อมูลชนิดหนึ่งใน Python ที่เป็น mutable หรือสามารถเปลี่ยนแปลงค่าได้ ตัวอย่างการสร้าง list คือ my_list = [1, 2, 3]
ใช้ในการเข้าถึงค่าของ list, tuple และ dictionary ตามด้วยตำแหน่ง (index) หรือคีย์ (key) ของข้อมูล เช่น my_list[0], my_tuple[1], my_dict['key']
ใช้ในการสร้าง list comprehensions ซึ่งเป็นการสร้าง list ใหม่โดยใช้คำสั่ง for loop และเงื่อนไข if ภายในวงเล็บสแควร์ เช่น squares = [x * x for x in range(1, 11) if x % 2 == 0]


---


สรุปคือ วงเล็บ () ใช้สำหรับการสร้าง tuple และระบุค่าพารามิเตอร์ของฟังก์ชัน ในขณะที่สแควร์บรากเก็ต [] ใช้สำหรับการสร้าง list และเข้าถึงค่าขของ list, tuple และ dictionary ตามด้วยตำแหน่ง (index) หรือคีย์ (key) ของข้อมูล และใช้ในการสร้าง list comprehensions ด้วยคำสั่ง for loop และเงื่อนไข if ภายในวงเล็บสแควร์เก็ต


---


เพื่อให้เข้าใจชัดเจนยิ่งขึ้น ลองดูตัวอย่างการใช้งาน () และ [] ใน Python ดังนี้:
# สร้าง tuple ด้วยวงเล็บ ()
my_tuple = (1, 2, 3)

# สร้าง list ด้วยสแควร์บรากเก็ต []
my_list = [1, 2, 3]

# เข้าถึงค่าของ tuple และ list ด้วยสแควร์บรากเก็ต []
print(my_tuple[1])  # ผลลัพธ์: 2
print(my_list[2])   # ผลลัพธ์: 3

# สร้าง dictionary
my_dict = {'one': 1, 'two': 2, 'three': 3}

# เข้าถึงค่าของ dictionary ด้วยสแควร์บรากเก็ต []
print(my_dict['one'])  # ผลลัพธ์: 1

# สร้าง list comprehension ด้วยสแควร์บรากเก็ต []
squares = [x * x for x in range(1, 11) if x % 2 == 0]
print(squares)  # ผลลัพธ์: [4, 16, 36, 64, 100]


---
tuple เป็นชนิดข้อมูลในภาษา Python ที่เป็นคอลเลกชันของข้อมูลหลายตัวที่มีลำดับ และข้อมูลใน tuple ไม่สามารถเปลี่ยนแปลงหรือแก้ไขได้หลังจากที่ถูกสร้างขึ้น (immutable) ซึ่งต่างจาก list ที่สามารถเปลี่ยนแปลงค่าของข้อมูลได้ (mutable)

คุณสามารถสร้าง tuple โดยใช้วงเล็บ () ดังตัวอย่าง:


---